---
---

<section id="sobre-mi" class="py-16">

  <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
    <span class="text-yellow-400">👤</span> Sobre mí
  </h2>

  <!-- Párrafo 1 full width -->
  <p class="text-gray-400 leading-relaxed mb-6 max-w-160 ]">
    Comencé en la programación en 2019 por curiosidad, explorando cómo interactuar con una computadora a través del código. Empecé creando pequeños programas en terminal para resolver problemas simples, lo que despertó mi interés por el desarrollo.
    <br>
    Con el tiempo descubrí el backend, donde encontré lo que más me motiva: trabajar con lógica, APIs y bases de datos. Actualmente me estoy formando en desarrollo backend con Laravel y PHP.
  </p>

  <!-- Párrafos 2 y 3 con imagen a la derecha -->
  <div class="flex flex-col md:flex-row gap-8 ">
    <div class="flex flex-col gap-4 text-gray-400 leading-relaxed space-y-4">
      <p class="max-w-2xl">
        He desarrollado proyectos como un sistema de gestión de alquiler de vehículos con autenticación por roles, CRUD completo y sistema de reservas, trabajando con bases de datos relacionales como PostgreSQL.
        <br>
        Uno de los mayores desafíos fue diseñar la lógica de reservas evitando conflictos de fechas, lo cual resolví mediante investigación y prueba y error.
        <br>
        También desarrollé un buscador de vehículos con IA integrando Laravel con la API de Groq.
      </p>
      <p class="text-pretty">
        Busco mi primera oportunidad como desarrollador backend en un entorno donde pueda aprender y seguir creciendo.
        <br>
        Actualmente estoy enfocado en mejorar mis habilidades en Laravel, bases de datos y APIs REST. Me considero una persona constante y disciplinada.
      </p>
    </div>

    <img
      src="https://i.guim.co.uk/img/media/327aa3f0c3b8e40ab03b4ae80319064e401c6fbc/377_133_3542_2834/master/3542.jpg?width=1900&dpr=1&s=none&crop=none"
      alt="Foto de perfil"
      class="w-full md:w-64 md:h-64 object-cover object-top shrink-0 grayscale hover:grayscale-0 transition-all duration-500 rounded-xl
border border-white/10"
    />
  </div>

</section>